@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
}

.chartWrapper {
  display: inline-block;
}

.rv-xy-plot {
}

.rv-discrete-color-legend {
  padding-left: 15%;
}

div[data-id='chartCard'] {
  padding-right: 10%;
  width: 350px;
  margin: 3%;
  padding: 2%;
  background-color: #eeeeee;
}
